body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 40px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    color: black;
    font-size: 1em;
}

.julius-berger{
    width: 50%;
    margin-left: 80px;
    margin-top: 0px;
    margin-bottom: 20px;

}

.icons{
    margin-left: 500px;
    margin-bottom: 20px;
}

.subseg-one{
    display: flex;
    border: solid rgb(6,74,133) 2px;
    background-color: rgb(6,74,133);
    
}

.pic{
    width: 50%;
}
#sub{
    width: 60%;
    margin-left: 20%;
    margin-top: 100px;
    margin-bottom: 50px;
}

h2{
    font-size:48px;
    color: rgb(23, 23, 141);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    font-size: 19px;
}

video{
    width: 1200px;
}

.subseg-five{
    display:flex;
    border: solid white 1px;
    margin: 45px;
}

.otu{
    color: white;
    border: solid rgb(0,70,130) 1px;
    background-color: rgb(0,70,130);
    width: 23%;
    padding: 20px;
    margin-top: -20px;
    margin-bottom: 20px;
}


.stf{
    display: flex;
    margin-top: 20px;
}

.vision{
    margin-top: 90px;
}

.up{
    margin-top: 122px;
    margin-left: 30px;
}

.abuo{
    color: white;
    background-color:rgb(5,170,190);
    border: solid rgb(5,170,190) 1px;
    width: 23%;
    padding: 20px;
}

.them{
    display: flex;
}

.afp{
    color: rgb(5,170,190);
    border:solid rgb(5,170,190) 1px;
    background-color: white;
}

.mmm{
    margin-bottom: 50px;
}

.ato{
    color: white;
    border: solid rgb(0,105,130) 1px;
    background-color:rgb(0,105,130);
    padding: 20px;
    width: 23%;
    margin-top: -20px;
    margin-bottom: 20px;
}


.sure{
    display: flex;
    margin-top: 30px;
    margin-left: -20px;
}

.sevicons{
    margin-left: 20px;
}

.eighticons{
    margin-left: 30px;
}

.nineicons{
    margin-left: 50px;
}

.tenicons{
    margin-top: 60px;
    display: flex;
}

.down{
    margin-top: 74px;
    margin-left: 40px;
}

.ano{
    color:rgb(0,70,130);
    border: solid rgb(244,244,244) 1px;
    background-color:rgb(244,244,244);
    width: 23%;
    padding: 20px;
}

.take{
    display: flex;
}

.twelicons{
    margin-top: -70px;
}

.thirthicons{
    display: flex;
}

.on{
    margin-top: 60px;
}

.off{
    margin-left: 10px;
}

.for{
    margin-bottom: -20px;
}

.alone{
    margin-top: 30px;
}

.button{
    margin-top: 40px;
    margin-left: 45px;
}

#a{
    background-color: rgb(185,0,130);
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 13px;
}

.uno{
     background-image: url("https://www.julius-berger.com/fileadmin/_processed_/1/7/csm_julius_berger_reference_second_river_niger_bridge_8__large__693a6a81a6.jpg");
     background-repeat: no-repeat;
     background-size: cover;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 500px;
    animation-name: uno;
    animation-iteration-count: infinite;
    animation-duration: 30s;
}


@keyframes uno {
    0%{background-image: url("https://www.julius-berger.com/fileadmin/_processed_/1/7/csm_julius_berger_reference_second_river_niger_bridge_8__large__693a6a81a6.jpg");}
    20%{background-image: url("https://www.julius-berger.com/fileadmin/_processed_/9/e/csm_julius_berger_reference_akr_3__large__dc7c4db1e2.jpg");}
    40%{background-image: url("https://www.julius-berger.com/fileadmin/_processed_/5/4/csm_julius-berger-reference-okpai-2-00_ec6a7098fc.jpg");}
    60%{background-image: url("https://www.julius-berger.com/fileadmin/_processed_/b/b/csm_julius_berger_reference_bbr_7__large__e3aae2299e.jpg");}
    80%{background-image: url("https://www.julius-berger.com/fileadmin/_processed_/6/2/csm_julius_berger_reference_railway_facilities_new_00_f59dd2f482.jpg");}
    100%{background-image: url("https://www.julius-berger.com/fileadmin/_processed_/b/c/csm_julius_berger_reference_lagos_shagamu_expressway_00_2b578aad88.jpg");}
    }

    /* .dos{
        SECOND RIVER NIGER  BRIDGE ASABA/ONITSHA 
        animation-name: fart;
    }

    @keyframes fart {
        
    } */

.subseg-seven{
    color: rgb(59, 59, 160);
    font-size: 2em;
    text-align: center;
    
}

.news{
    color: rgb(26,150,179);
}

button{
    background-color: rgb(26,150,179);
    color: white;
    border: solid rgb(26,150,179) 1px;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.5em;
}

h5{
    font-size: 10em;
    margin-top: -140px;
    margin-left: 380px;
    opacity: 10%;
    animation-name: that;
    animation-play-state: running;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes that{
    0%{margin-left: 380px;}
    100%{margin-left:1500px;}
}

#footer{
    display: grid;
    grid-template-columns: auto auto auto;
    border: solid rgb(7,75,133) 2px;
    padding: 70px;
    background-color: rgb(7,75,133);
    margin-top: -400px;
    color: white;
}

h4{
    text-decoration: underline;
}

.last{
    margin-top: 30px;
}

.non{
    border: solid white 2px;
    border-radius: 5px;
    background-color: white;
    margin-right: 20px;
}

.top{
    background-color: white;
    border: solid white 1px;
    bottom: 0px;
    margin-left: 1100px;
    padding: 0px;
    position: sticky;
}


