:root{
    --col-1:blue;
    --col-2:red;
    --col-3:black;
    --col-4:white;
}
body{
    background-image: url(dr.avif) ;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 50%;
}
form:hover{
    opacity: 100%;
}
p{
    color: var(--col-4);
}